*{
    margin:0;
    
}

.first{
    background:#333 url(image/background.png);
    height: 450px;
    background-size: cover;
    opacity:0.9;
}
.frist-text{
    color: white;
    text-align: center;
    padding-top: 100px;
}
.lorem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.frist-text a{
    text-decoration: none;
    color: white;
    padding:20px;
    border:1px solid #333;
    margin:15px;
    background-color: #333;
    font-size: 20px;
    
}
.frist-text a:hover{
    color:black;
    background-color: white;
}
.second{
    text-align: center;
    
}
.second-heading{
    font-size: 30px;
    padding-top: 10px;

}
.second-content{
    display: flex;
    justify-content:  space-around;
}
.content{
    width:50%;
    font-family: Arial, Helvetica, sans-serif;
    margin:30px;
    line-height: 1.5;
    background-color: #fff;
    
}
.third{
    background-color: #333;
     padding:40px;

}
.section{
    display: flex;
    justify-content: space-evenly;
    width:50%;
    margin:0 auto;
}

.layout{
    background-color: white;
    width:30%;
    height: 400px;

}
img{
    width: 100%;

}
.layout h2{
    text-align: center;
    margin-top: 30px;

}
.layout p{
    text-align: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.fourth{
      text-align: center;
      margin-top: 50px;

}
.fourth h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.fourth p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.fifth{
    margin-top: 50px;
    display: flex;
    background-color: turquoise;
    
}
.contact{
    width:50% ;
    background-color: #2690d4;
}
.about{
    width: 50%;
    background-color: #333;
}
.contact h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 30px;
    margin:25px;

}
.about h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 30px;
    margin:25px;

}
.contact p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.email{
    margin-top: 32px;
    margin-bottom: 30px;
}
.about p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
.sixth{
    display: flex;
    background-color: black;
    color: white;
}
.web{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 30px;
    margin:25px;
    width:50%;
}
.project{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 30px;
    margin:25px;
    width:50%;
}
.project a{
    text-decoration: none;
    color: #2690d4;
}
